.navbar__container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e4dc;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

.navbar__list div {
    padding: 1rem 1rem;
    align-items: center;
    border: black;
}