.header {
    margin: 0 auto;
    padding: 3.5rem 2rem 0.6rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px;
    border-bottom-style: solid;
    border-bottom-color: #5a524e;
    background-color: #f5f3ed;
}

.header__elem {
    position: relative;
    min-width: 20%;
    height: 10px;
    flex: 1;
}

.header__interactions {
    min-width: 20%;
    position: relative;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.header__logo {
    position: relative;
    flex: 2;
    text-align: center;
    min-width: 60%;
}

.header__logo p {
    font-family: 'Bodoni Moda', serif;
    font-size: 2rem;
    letter-spacing: 4px;
}

.header__search__bg {
    height: 1.9rem;
    width: 80%;
    flex-grow: 1;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 10px;
    border: 1px solid #d0cfc9;
    background-color: white;
    padding: 3px 0px 3px 3px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__searchicon {
    position:relative;
    height:20px;
    width:20px;
    margin-right: 10px;
    margin-left: 0.1em;
}

.header__searchicon__svg {
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    fill: currentcolor;
}

.header__search__searchbox {
    width: 80%;

}

.header__search__searchbox input[type="search"] {
    border: 0px;
}

.header__search__searchbox input[type="search"]:focus {
    outline: 0;
}

.header__search__searchbox input[type="search"]:focus::placeholder {
    color: transparent;
}

.header__cart__svg {
    position: relative;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    fill:currentcolor;
}

.header__usericons__cart__container {
    width: 10%;
    box-sizing: border-box;
    position: relative;
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.header__cart__svg {
    position: relative;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    fill:currentcolor;
}

.header__usericons__avatar {
    width: 10%;
    box-sizing: border-box;
    position: relative;
    width: 35px;
    height: 35px;
    margin-left: 10px;
}